__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__

_data
_savedir
_checkpoints*/
logs/

checkpoints*
wandb
slurm*
*/slurm*
[deprecated]*

w-bashscripts
.cache
/models/sparqle/othermodels
/models/sparqle/[deprecated]
/models/[deprecated]
